.hide {
  display: none;
}

.accordion {
  font-size: 1em;
  width: 80%;
  margin: 0 auto;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: solid 1px grey;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion-body {
  padding: 1.5em 1.5em;
  animation: appear 2s;
}

.accordion-header:after {
  content: "+";
  float: right;
  position: relative;
  transition: 1s;
}

.accordion-header.active:after {
  transform: rotate(405deg);
}
